:root {
--terracotta: #E27D60;
--seagreen: #85dcb8;
--drydirt: #e8a87c;
--softpurple: #8d96c3;
--coolwaters: #41B3A3;
--kelp: rgb(110, 181, 113);
--deepblue: #2f766d;
--borderRadius: 0 0 25px;
}

html {
    font-family: garamond, "goudy old style", helvetica, "optima", 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 3px;
    background-color: var(--coolwaters);
}

header {
    display: flex;
    font-family: garamond, "goudy old style", helvetica, "optima", 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0 0;
    padding: 1%;
    background-color: var(--seagreen);
    justify-content: space-between;
    border-radius: var(--borderRadius);
}


article {
    display: flex;
    justify-content: center;
}

header h1 {
    justify-content: left;
    font-size: 36px;
    font-weight: 800;
    color: var(--kelp);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

nav ul {
    justify-content: right;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

nav ul li {
    display: inline;
    padding: 8px;
}

li a {
    text-decoration: none;
}

section h3 {
    display: inline;
    position:absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    background-color: var(--seagreen);
}

.about-me {
    margin: 30px auto;
    padding: 30px;
    background-color: var(--seagreen);
    border: 3px solid var(--);
    border-radius: var(--borderRadius);
    max-width: 80%;
}

.big-card img {
    flex: 1 1 100px;
    max-width: 100%;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
}

.big-card,
.small-card1,
.small-card2, 
.small-card3 {
    background-size: cover;
    background-position: center center;
    border: 2px solid var(--seagreen);
    padding: 2%;
    margin:  20px;
    box-shadow: 10px 10px 10px var(--seagreen);
    box-shadow: inset 10px 10px 150px 30px var(--seagreen);
    position: relative;
    border-radius: var(--borderRadius);
}

.small-card1,
.small-card2, 
.small-card3 {
    flex: 1 0 30%;
    min-height: 300px;
}

.big-card {
    flex: 2 0 100%;
    min-height: 400px;
    background: url("./Images/Password.jpg");
}

.small-card1 {
    background: url("./Images/web.jpg");
}

.small-card2 {
    background: url("./Images/computer.png");
}

.small-card3 {
    background: url("./Images/code.jpg");
}

.contact-form {
    text-align: center;
    background: var(--deepblue);
    border: 3px solid var(--kelp);
    border-radius: 15px;
    width: 350px;
    margin: 0 auto;
}

.contact-form ul li {
    display: inline;
}

.contact-form p {
    padding: 5px;
}

.small-card1:hover {
    box-shadow: none;
}
.small-card2:hover {
    box-shadow: none;
}
.small-card3:hover {
    box-shadow: none;
}

.big-card:hover {  
    box-shadow: none;
}

/* Media Query and associated styles*/
@media screen and (max-width: 992px) {
    html {
      background-color: var(--softpurple);
    }
    .about-me {
        background-color: var(--seagreen);
        }
    section h3,
    .about-me,
    .big-card {
        border-color: var(--terracotta);
    }
    }
  
  
  @media screen and (max-width: 768px) {
    html {
      background-color: var(--coolwaters);
    }
    .about-me {
    background-color: var(--seagreen);
    }
    section h3,
    .about-me,
    .big-card {
        border-color: var(--softpurple);
    }
  }

  
  @media screen and (max-width: 576px) {
    html {
      background-color: var(--terracotta);
    }
    .about-me {
        background-color: var(--softpurple);
    }
    section h3,
    .about-me,
    .big-card {
         border-color: var(--drydirt);
    }
  }
  