:root {
--terracotta: #E27D60;
--seagreen: #85dcb8;
--drydirt: #e8a87c;
--softpurple: #C38D9E;
--coolwaters: #41B3A3;

}

html {
    font-family: garamond, "goudy old style", helvetica, "optima", 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 3px;
    background-color: var(--coolwaters);
}

header {
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 0 0;
    padding: 1%;
    background-color: var(--seagreen);
    justify-content: space-between;
    border-radius: 0 0 25px;
}


article {
    display: flex;
    justify-content: center;
}

header h1 {
    justify-content: left;
    font-size: 36px;
    font-weight: 500;

}

nav ul {
    justify-content: right;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}

nav ul li {
    display: inline;
    padding: 8px;
}

section h3 {
    display: inline;
    position:absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    background-color: var(--seagreen);
}

.about-me {
    margin: 30px auto;
    padding: 30px;
    background-color: var(--drydirt);
    border: 3px solid var(--terracotta);
    border-radius: 0 0 25px;
    max-width: 80%;
}

.big-card img {
    flex: 1 1 100px;
    max-width: 100%;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
}

.big-card {
    flex: 2 0 100%;
    min-height: 400px;
    background: url("./Images/Password.jpg");
    background-size: cover;
    background-position: center center;
    border: 2px solid var(--seagreen);
    padding: 2%;
    margin: 20px;
    box-shadow: 10px 10px 10px var(--seagreen);
    position: relative;
}


.small-card1,
.small-card2, 
.small-card3 {
    flex: 1 0 30%;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    border: 2px solid var(--seagreen);
    padding: 2%;
    margin:  20px;
    box-shadow: 10px 10px 10px var(--seagreen);
    position: relative;
}

.small-card1 {
    background: url("./Images/web.jpg");
    background-size: cover;
    background-position: center center;
}

.small-card2 {
    background: url("./Images/computer.png");
    background-size: cover;
    background-position: center center;
}

.small-card3 {
    background: url("./Images/code.jpg");
    background-size: cover;
    background-position: center center;
}

.contact-form {
    text-align: center;
    background: var(--drydirt);
    border: 3px solid var(--terracotta);
    border-radius: 15px;
    width: 350px;
    margin: 0 auto;
}

.contact-form p {
    padding: 5px;
}


@media screen and (max-width: 992px) {
    html {
      background-color: var(--softpurple);
    }
    .about-me {
        background-color: var(--seagreen);
        }
    section h3,
    .about-me,
    .big-card {
        border-color: var(--terracotta);
    }
    }
  
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    html {
      background-color: var(--coolwaters);
    }
    .about-me {
    background-color: var(--seagreen);
    }
    section h3,
    .about-me,
    .big-card {
        border-color: var(--softpurple);
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    html {
      background-color: var(--terracotta);
    }
    .about-me {
        background-color: var(--seagreen);
    }
    section h3,
    .about-me,
    .big-card {
         border-color: var(--terracotta);
    }
  }
  